body{
	background-color: rgb(13, 0, 77);
}

hr{
	background-color:rgb(136, 77, 255);
}

.webtext:hover {
	text-decoration: underline overline;
	cursor:none;
}

.button {
	background-color: cyan;
}

.button:hover {
	background-color: yellow;
}